* {
  box-sizing: border-box;
}

body {
  width: 100%;
  position: absolute;
}
/* .container {
  margin: 0 auto;
  padding: 0 auto;
} */
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-form {
  height: 60px;
  background-image: linear-gradient(90deg, #112e50 15%, rgba(161, 120, 132, .7) 40%, rgba(31, 20, 182, 0.6) 75%, rgba(57, 55, 54, 0.7));
  padding: 5px;
  text-align: center;
  position: fixed;
  z-index: 99;
  width: 100%;
  margin-top: -10px;
}



input {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid rgba(211, 125, 75, 0.146);
  padding: 10px 32px;
  border-radius: 5px;
  transition: background-color 750ms cubic-bezier(0.4, 0, 0.8, 1);
}

.search-btn,
.load-more-btn {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: yellow;
  cursor: pointer;
  border: 1px solid rgba(211, 125, 75, 0.146);
  padding: 10px 32px;
  border-radius: 5px;
  transition: background-color 750ms cubic-bezier(0.4, 0, 0.8, 1);
}

.search-btn:hover,
.search-btn:focus,
.load-more:focus,
.load-more:hover {
  background-color: rgba(166, 211, 75, 0.981);
  color: #ffffff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
}

.photo-card img {
  width: 300px;
  height: 200px;
}


.info {
  margin-left: 10px;
}

.info-item {
  height: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.load-more {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: white;
  cursor: pointer;
  border: 1px solid rgba(211, 125, 75, 0.788);
  padding: 10px 32px;
  border-radius: 7px;
  transition: background-color 750ms cubic-bezier(0.4, 0, 0.8, 1);
}

.gallery-box {
  margin-bottom: 30px;
  padding-bottom: 7px;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 250ms var(--time-cube);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 1px -1px rgba(0, 0, 0, 0.12);

}

.gallery-box:hover,
.gallery-box:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}